*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
main{
    display: flex;
/*     flex-direction: column; */
align-items: center;
justify-content: center;
height: 100vh;
}
.dashboard{
    background-color: crimson;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 900px;
    border: 2px solid black;
}
.row{
    background-color:salmon;
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 8px;
    flex-wrap: wrap;
    border: 2px solid lime;
    justify-content: space-evenly;
}
.col{
    background-color: hotpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    border: 2px solid aqua;
}
.flex-row{
border: 2px solid blue;
display: flex;
flex-direction: row;
gap: 8px;
padding: 8px;
border: 2px solid yellow;
}
.flex-col{
    border: 2px solid darkgreen;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    border: 2px solid rgb(50, 50, 50);
}